:root {
    --dark-accent-color: #7e8925;
    --header-background: #e7efcd;
    --light-accent-color: #a09574;
    --icon-color: #483c1f;
    --text-color: #505050;
}

body {    
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Display", Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}

/* Sidebar Content */

.sidebar {
    background-color: var(--dark-accent-color);
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 2rem;
    padding: 1rem;
    color: white;
}

.sidebar-heading {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.sidebar-link {
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

.big-icon {
    height: 40px;
    width: auto;
}

.icon {
    height: 30px;
    width: auto;
}

/* Header Content */

.header {
    background-color: var(--header-background);
    padding: 1rem;
    margin-bottom: 4px;
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, 1fr));
    gap: .25rem;
    box-shadow: 0px 4px 4px gray;
}

.header-row {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-section {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-buttons {
    display: flex;
    gap: 30px;
}

.search-bar {
    width: clamp(45ch, 50%, 75ch);
    height: 1.1rem;
    background-color: var(--light-accent-color);
    border-radius: 16px;
    box-shadow: none;
    border-style: none;
    outline: none;
    padding: 4px 8px;
}

.user-icon {
    width: 50px;
    height: auto;
}

.user-icon-main {
    width: 75px;
    height: auto;
}

.user {
    font-weight: bold;
}

.user-main {
    font-size: 36px;
}

.greeting {
    display: grid;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
}

button {
    background-color: var(--dark-accent-color);
    color: white;
    border-radius: 32px;
    border-style: none;
    padding: 8px 16px;
    width: 125px;
    height: 40px;
}

/* Main Content */

.content {
    background-color: var(--light-accent-color);
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 45%));
    gap: 15px;
}
.card {
    height: clamp(min-content, 150px, 200px);        
    border-left-color: var(--icon-color);    
    border-left-style: solid;
    border-left-width: 6px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-heading, .announcement-heading,
.content-heading {
    font-weight: bold;
}

.card-text {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.card-icons {    
    display: flex;    
    gap: 10px;
    justify-content: end;
}

.announcements,
.card, .trending {
    background-color: var(--header-background);
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 2px 2px 2px gray;
}

.content-heading {
    font-size: 1.5rem;
}

.announcements {
    margin-bottom: 1rem;
}

.content-heading {
    margin-bottom: 1rem;
}

.trending-text {
    display: grid;
    align-content: center;
}

.person {
    display: flex;
    align-content: center;
    gap: 10px;
    margin-bottom: .5rem;
}

.person-text {
    color: var(--text-color);
}